{{!-- <p><p>Hello {{character.name}}, I heard you love {{character.love}}</p> --}}

{{!-- <p>The bushes start rustling again, what could it be this time? Suddenly.. A ferocious {{character.fear}} jumps out!</p></p> --}}
<br/>
<br/>
"Well hello there {{character.name}}, you best be careful around these parts there's been an increase in {{character.fear}}. In fact, I must make haste out of this forest, there are fish to be caught."

<a href="/forest">forest</a>
<a href="/follow">follow him</a>